{
  margin:0;
}
.services{
  margin: auto;

}
.containery{
}
.header{
  width: 100%;
  height: 40px;
  background-color: rgb(135, 202, 222);
 }

nav {
  display: block;
  float:right;
  margin-right: 100px;
  padding-top: 10px;
   
}
nav a{
padding:20px;
justify-content:space-evenly;
font-family: 'Courier New', Courier, monospace;
color:black;
font:800;
align-items: center;  
}
